@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
/* fallback */
@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v141/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format("woff2");
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

// Global Properties
:root {
    --global-radius: 0.3rem;
    --box-shadow: 0 0 0.75rem hsla(0, 0%, 0%, 20%);
    --box-shadow-hover: 0 0 2rem hsla(0, 0%, 0%, 40%);
}

// Color Palette
:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-dark-blue: hsl(209, 23%, 22%);
    --clr-very-dark-blue: hsl(207, 26%, 17%);
    --clr-light-mode-very-dark-blue: hsl(200, 15%, 8%);
    --clr-dark-gray: hsl(0, 0%, 52%);
    --clr-light-gray: hsl(0, 0%, 98%);

    --default-transition: all 1s cubic-bezier(0.03, 0.85, 0.4, 0.99);
}

// Light Mode Settings
:root {
    --body-bg-color: var(--clr-light-gray);
    --body-text-color: var(--clr-light-mode-very-dark-blue);

    --element-bg: var(--clr-white);
    --header-bg: var(--clr-light-gray);

    // Input Styles
    --input-text-color: var(--clr-dark-gray);
    --input-focus-color: var(--clr-dark-blue);
    --input-bg-color: var(--element-bg);
    --input-box-shadow: var(--box-shadow);

    // Select Styles
    --select-option-hover-bg: var(--clr-light-gray);

    // Custom Button Styles
    --button-scroll-top-bg: var(--clr-dark-blue);
    --button-scrol-top-color: var(--clr-white);
    --button-hover-bg: var(--clr-light-gray);

    // Tooltip
    --tooltip-button-color: var(--clr-dark-gray);
    --tooltip-text-color: hsl(207, 26%, 10%);
    --tooltip-bg: var(--clr-dark-blue);
}

// Dark Mode Settings
[data-theme="dark"] {
    --body-bg-color: var(--clr-very-dark-blue);
    --body-text-color: var(--clr-white);

    --element-bg: var(--clr-dark-blue);
    --header-bg: var(--clr-very-dark-blue);

    // Input Styles
    --input-text-color: var(--clr-light-gray);
    --input-focus-color: var(--clr-white);
    --input-bg-color: var(--element-bg);
    --input-box-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 20%);

    // Select Styles
    --select-option-hover-bg: var(--clr-very-dark-blue);

    // Custom Button Styles
    --button-scroll-top-bg: var(--clr-light-gray);
    --button-scrol-top-color: var(--clr-very-dark-blue);
    --button-hover-bg: hsl(209, 23%, 30%);

    --tooltip-button-color: hsl(209, 23%, 30%);
    --tooltip-bg: var(--clr-light-gray);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
}

html {
    font-size: var(--font-base-size);
}

body {
    color: var(--body-text-color);
    background: var(--body-bg-color);
    line-height: 1.6;
    font-family: "Nunito Sans", sans-serif;
    font-size: var(--font-base-size);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 200ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

h2 {
    font-size: 1.25rem;
    line-height: 1.25;
}

p {
    margin-bottom: 0.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

b {
    font-weight: 600;
}

#countries-app {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* ----- Buttons & Icons ----- */
.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

.button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.75em 1.5em;
    border-radius: 0.25em;
    background: var(--element-bg);
    color: var(--body-text-color);
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    cursor: pointer;
    border: none;
    border-radius: var(--global-radius);
    box-shadow: var(--box-shadow);
    transition: var(--default-transition);

    &--tooltip {
        position: relative;
    }

    span {
        font-weight: inherit;
        transition: var(--default-transition);
    }

    &--has-icon {
        .icon {
            font-size: 1.25em;
            transition: var(--default-transition);

            &--left {
                margin-right: 0.25rem;
            }

            &--right {
                margin-left: 0.25rem;
            }
        }
    }

    &--clear {
        border: none;
        box-shadow: none;
        background: transparent;

        &:active,
        &:hover,
        &:focus {
            background: transparent !important;
        }
    }

    &:hover,
    &:focus {
        background: var(--button-hover-bg);
        .icon-moon {
            font-variation-settings:
                "FILL" 1,
                "wght" 400,
                "GRAD" 0,
                "opsz" 24;
        }
    }

    &--chip {
        padding: 0.25em 0.5em;
        font-size: 0.75rem;
        font-weight: 500;

        .icon {
            font-size: inherit;
        }
    }
}

header,
main,
footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

main {
    padding-bottom: 8rem;
}

footer {
    display: block;
    position: static;
    bottom: 0;
    padding: 2rem 0;
    background: var(--header-bg);
}

.attribution {
    position: relative;
    bottom: 0;
    font-size: 0.875rem;
    color: var(--body-text-color);

    a {
        color: inherit;
    }
}

/* ----- Global Modifiers ----- */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* ----- Form Styles ----- */
input[type="text"],
.select {
    display: block;
    padding: 1.5em;
    color: var(--input-text-color);
    border-radius: var(--global-radius);
    border: none;
    background: var(--element-bg);
    box-shadow: var(--input-box-shadow);
    height: 3.375rem;

    &:active,
    &:focus {
        outline: none;
        color: var(--input-focus-color);
    }
}

.select-dropdown {
    width: 100%;
    max-width: 14rem;
    position: relative;

    .select {
        padding-right: 1rem;
        cursor: pointer;
    }

    ul {
        position: absolute;
        z-index: 10;
        top: 100%;
        display: grid;
        gap: 0;
        list-style-type: none;
        margin-top: 0.25rem;
        padding: 0;
        background: var(--element-bg);
        width: 100%;
        height: auto;
        border-radius: var(--global-radius);
        transition: var(--default-transition);
        transform-origin: top;
        border: 1px solid var(--element-bg);
        padding: 0.5rem;
        pointer-events: none;
        transform: scaleY(0);
        box-shadow: var(--box-shadow);

        &.is-open {
            transform: scaleY(1);
            pointer-events: all;
        }

        li {
            display: block;
            padding: 0;
            width: 100%;
            cursor: pointer;
            position: relative;

            &.hover--active::after {
                display: block;
            }

            &::after {
                display: none;
                content: "";
                position: absolute;
                inset-inline: 0;
                inset-block-end: 0;
                block-size: 100%;
                translate: var(--_translate, 0);
                scale: 1 var(--_scale, 0);
                background-color: var(--select-option-hover-bg);
                transition:
                    scale 100ms var(--_scale-delay, 0ms),
                    translate 200ms;
            }

            &:hover ~ li {
                --_translate: 0 -100%;
                --_scale-delay: 200ms;
            }

            &:hover {
                background-color: var(--select-option-hover-bg);
                --_scale: 1 1;
                --_translate: 0 0;
                --_scale-delay: 0ms;
            }

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0.25rem 1rem;
                color: inherit;
                text-decoration: none;
                position: relative;
                z-index: 1;

                .icon-check {
                    font-size: inherit;
                    margin-left: auto;
                    transform: translateX(0.25rem);
                }
            }
        }
    }
}

.select {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--input-text-color);
    background: var(--element-bg);
    box-shadow: var(--input-box-shadow);
    padding: 1em 1.5em;
    height: 3.375rem;
}

/* ----- Base Grid Styles ----- */
.grid {
    display: grid;
    --_grid-gap: 1rem;
    gap: var(--_grid-gap);

    &.col-2,
    &.col-4 {
        --_grid-gap: 2.5rem;
        grid-template-columns: 1fr;

        @media screen and (min-width: 60em) {
            --_grid-gap: 4rem;
        }
    }

    &.col-2 {
        @media screen and (min-width: 60em) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &.col-4 {
        grid-template-columns: 1fr;
        @media screen and (min-width: 40em) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 60em) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

/* ----- Base Flex Styles ------ */
.flex {
    display: flex;

    &.flex--row {
        flex-flow: row nowrap;
    }

    &.flex--column {
        flex-flow: column nowrap;
    }

    &.flex--center {
        justify-content: center;
        align-items: center;
    }

    &.flex--space-between {
        justify-content: space-between;
    }

    &.flex--align-center {
        align-items: center;
    }

    &.flex--align-start {
        align-items: flex-start;
    }

    &.flex--align-end {
        align-items: flex-end;
    }

    &.flex--justify-center {
        justify-content: center;
    }

    &.flex--justify-start {
        justify-content: flex-start;
    }

    &.flex--justify-end {
        justify-content: flex-end;
    }

    &.flex--justify-space-between {
        justify-content: space-between;
    }

    &.flex--wrap {
        flex-wrap: wrap;
    }

    &.flex--nowrap {
        flex-wrap: nowrap;
    }

    &.flex--wrap-reverse {
        flex-wrap: wrap-reverse;
    }
}

/* ----- Skeleton Elements ----- */
[class*="skeleton"] {
    border-radius: var(--global-radius);
}

/* ----- Vue Transitions ----- */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

// Slide Fade
.slide-fade-up-enter-active,
.slide-fade-up-leave-active {
    transition: all 200ms ease-in-out;
}

.slide-fade-up-enter-from,
.slide-fade-up-leave-to {
    transform: translateY(-200%);
}

// Slide in from Left
.slide-in-left-enter-active,
.slide-in-left-leave-active {
    transition: all 200ms ease-in-out;
}

.slide-in-left-enter-from,
.slide-in-left-leave-to {
    transform: translateY(calc(100vh + 1rem));
}
